Student-Enroll-REAL/.vs/
Student-Enroll-REAL/bin/
Student-Enroll-REAL/obj/
Student-Enroll-REAL/.vs/Student-Enroll-REAL/DesignTimeBuild/.dtbcache.v2
Student-Enroll-REAL/.vs/Student-Enroll-REAL/v16/.suo
Student-Enroll-REAL/bin/Debug/netcoreapp3.1/Student-Enroll-REAL.dll
Student-Enroll-REAL/bin/Debug/netcoreapp3.1/Student-Enroll-REAL.exe
Student-Enroll-REAL/bin/Debug/netcoreapp3.1/Student-Enroll-REAL.pdb
Student-Enroll-REAL/bin/Debug/netcoreapp3.1/Student-Enroll-REAL.runtimeconfig.dev.json
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/apphost.exe
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.baml
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.i.cs
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.assets.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.CoreCompileInputs.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.FileListAbsolute.txt
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csprojAssemblyReference.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.dll
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.g.resources
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.genruntimeconfig.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.pdb
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.cache
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.lref
Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.lref
Student-Enroll-REAL/obj/project.assets.json
Student-Enroll-REAL/obj/project.nuget.cache
Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.dgspec.json
Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.g.props
